# Node dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
*.expo

# Native build files
android/
ios/
!ios/*.xcodeproj/project.pbxproj
!ios/*.xcodeproj/xcshareddata/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler
.metro-health-check

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log
*.log

# macOS
.DS_Store
*.pem

# Local environment files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# VSCode settings
.vscode/

# Example or test apps
app-example/

# File uploads
uploads/